no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
!
username {{item.username}} password {{item.password}}
!
hostname {{item.hostname}}
!
interface loopback 1
 description Configured by Ansible
 ip address {{item.loopback1_ip}}
!
interface GigabitEthernet2
 ip address {{item.gig2_ip}}
!
logging buffered 32000
no logging console

